<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Đại Thư Viện | Chia sẻ nội dung cho mọi người</title>  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text">Đại Thư Viện</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="white-text nav-dtv">Đăng Ký</a></li>
        <li><a href="#" class="white-text nav-dtv">Đăng Nhập</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Đăng Ký</a></li>
        <li><a href="#">Đăng Nhập</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container">
    <div class="section">
    <br/><br/><br/><br/>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <!-- <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div> -->
           <div class="card-panel dtv-card">     
            <header>      
              <h2 class="center">Truyện</h2>
            </header>
            <p class="light white-text">Tổng hợp Sách, truyện chữ, sách báo, tài liệu chuyên ngành, tiểu thuyết, văn học phong phú nhất, đầy đủ các thể loại. </p>

            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>

        <div class="col s12 m4">
          <div class="card-panel dtv-card">           
             <header>      
              <h2 class="center">Manga</h2>
            </header>

            <p class="light white-text">Tổng hợp truyện Tranh Việt Nam, Nhật bản, Hàn quốc, Âu Mỹ.Thể loại phong phú. Luôn luôn được cập nhật nhanh nhất, từ cũ đến mới.</p>
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light dtv-send-button" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>

        <div class="col s12 m4">
          <div class="card-panel dtv-card">           
             <header>      
              <h2 class="center">Video</h2>
            </header>

            <p class="light white-text">Tổng hợp video từ nhiều nguồn. Chia sẽ phim online. Được phân chia theo từng danh mục, luôn luôn được cập nhật.</p>
            <div class="row">
              <div class="col s10 offset-s1 center-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                      Truy Cập
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </div>
           </div>
        </div>
      </div>

    </div>
  </div>
  <br/><br/><br/>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Đại Thư Viện</h5>
          <p class="grey-text text-lighten-4">Website chia sẻ nội dung về Sách, Truyện, Truyện Tranh, Video, được tổng hợp từ các nguồn Miễn Phí trên mạng Internet.
          <br/>Hiện tại, Chúng tôi không chịu trách nhiệm nào về vấn đề bản quyền tác giả, tác phẩm.
          <br/>Nếu các bạn xem, phát hiện các nội dung không lành mạnh, không chính xác, vui lòng liên hệ về admin@daithuvien.com.
          <br/>Chúng tôi sẽ tiến hành kiểm tra, và xóa bỏ nếu cần thiết. 
          <br/>Xin chân thành cảm ơn.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Nội Dung</h5>
          <ul>
            <li><a class="white-text" href="#!">Sách - Truyện chữ</a></li>
            <li><a class="white-text" href="#!">Truyện Tranh</a></li>
            <li><a class="white-text" href="#!">Video</a></li>
            <li><a class="white-text" href="#!">Phim Onine</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Liên Hệ</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Google Plus</a></li>
            <li><a class="white-text" href="#!">twitter</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://daithuvien.com">Đại Thư Viện</a>
      </div>
    </div>
  </footer>
</body>
</html>
